{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.EntityFrameworkCore.Database.Command": "Information",
      "Discord": "Debug"
    }
  },
  "ConnectionStrings": {
    "Default": "Data Source=ctr_roster_dev.db;Cache=Shared"
  },
  "Discord": {
    "Token": "METTRE_VOTRE_TOKEN_BOT_TEST_ICI",
    "DevGuildId": 0,
    "AdminRoleId": 0
  }
}
